@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
/* Page d'accueil */
.restaurant {
  background-color: #FAFAFA;
  padding-bottom: 50px;
}
.restaurant__card a {
  text-decoration: none;
}
.restaurant__card {
  border-radius: 15px 15px 15px 15px;
  border: none;
  background-color: #fff;
  box-shadow: 2px 2px 6px #efebeb;
  margin: 0px 10px 30px 10px;
  height: 280px;
  position: relative;
}
.restaurant__card__contains {
  display: flex;
  justify-content: space-between;
}
.restaurant__card__contains__title {
  margin: 15px 0px 0px 15px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.restaurant__card__contains__heart {
  margin: 20px 20px 0px 0px;
  color: black;
  font-size: 25px;
}
.restaurant__card__lieu {
  color: #6a6767;
  font-size: 16px;
  margin: 5px 0px 10px 15px;
  font-family: "Roboto", sans-serif;
}
.restaurant__card__new {
  position: absolute;
  right: 10%;
  margin-top: 15px;
  width: 80px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #99e2d0;
  color: #1c9965;
  font-weight: bold;
}
.restaurant__card .cartepic {
  border-radius: 15px 15px 0px 0px;
  border: none;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*Pages menu*/
.starter__card, .plat__card, .dessert__card {
  box-shadow: 2px 2px 6px #cfd2d2;
  border-radius: 13px 13px 13px 13px;
  background-color: #fff;
  cursor: pointer;
  margin: 10px 15px 20px 15px;
  padding-bottom: 12px;
  position: relative;
  overflow: hidden;
}
.starter__card__title, .plat__card__title, .dessert__card__title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px 0px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 280px;
  transition: 1s ease-in-out;
  font-family: "Roboto", sans-serif;
}
.starter__card__descrip, .plat__card__descrip, .dessert__card__descrip {
  display: flex;
  justify-content: space-between;
}
.starter__card__info, .plat__card__info, .dessert__card__info {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  transition: 1s ease-in-out;
  font-family: "Roboto", sans-serif;
  color: #6a6767;
}
.starter__card__price, .plat__card__price, .dessert__card__price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
  transition: 1s ease-in-out;
}
.starter__card__check, .plat__card__check, .dessert__card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -60px;
  top: 0%;
  width: 0px;
  transition: 1s ease-in-out;
  border-radius: 0px 13px 13px 0px;
  background-color: #99e2d0;
  padding: 27px;
}

.fa-check-circle {
  color: #fff;
  margin-right: 50px;
}

.starter__card:hover .starter__card__check, .plat__card:hover .plat__card__check,
.dessert__card:hover .dessert__card__check {
  animation: 1s ease-in-out;
  width: 80px;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: auto;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
}

.restaurant h2 {
  padding: 40px 0px 5px 0px;
}

.titre-menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  margin-left: 20px;
  font-size: 35px;
}

.booking__btn:hover, .boutoncommander__btn:hover {
  background-image: linear-gradient(#ab77ea, #f790da);
  box-shadow: 5px 5px 7px grey;
}

.booking {
  text-align: center;
  background-color: #fcfbfb;
  padding-bottom: 30px;
}
.booking__maintitle {
  padding-top: 30px;
}
.booking__maintitle h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.booking__title {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  font-size: 20px;
  color: #6a6767;
}
.booking__btn {
  margin-top: 20px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  border: none;
  border-radius: 50px/50px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  padding: 15px 25px 15px 25px;
  font-family: "Roboto", sans-serif;
}

.boutoncommander {
  text-align: center;
  margin-top: 30px;
}
.boutoncommander__btn {
  margin-top: 20px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  border: none;
  border-radius: 50px/50px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  padding: 20px 60px 20px 60px;
}

.starter, .plat, .dessert {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.starter h2, .plat h2, .dessert h2 {
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  right: 85%;
  left: 0;
  font-size: 25px;
  margin-top: -40px;
  margin-left: 20px;
  width: 50px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.starter {
  animation: std 500ms 150ms both;
}

.plat {
  animation: std 1s 250ms both;
}

.dessert {
  animation: std 2s 350ms both;
}

@keyframes std {
  0% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.starter__card:hover i, .plat__card:hover i, .dessert__card:hover i {
  animation: tour 1s ease-in-out;
}

@keyframes tour {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.starter__card:hover .starter__card__price, .plat__card:hover .plat__card__price,
.dessert__card:hover .dessert__card__price {
  transform: translate(-80px);
  transition: 1s ease-in-out;
}

.starter__card:hover .starter__card__title, .starter__card:hover .plat__card__title, .starter__card:hover .dessert__card__title,
.starter__card:hover .starter__card__info, .starter__card:hover .plat__card__info, .starter__card:hover .dessert__card__info, .plat__card:hover .starter__card__title, .plat__card:hover .plat__card__title, .plat__card:hover .dessert__card__title,
.plat__card:hover .starter__card__info, .plat__card:hover .plat__card__info, .plat__card:hover .dessert__card__info, .dessert__card:hover .starter__card__title, .dessert__card:hover .plat__card__title, .dessert__card:hover .dessert__card__title,
.dessert__card:hover .starter__card__info, .dessert__card:hover .plat__card__info, .dessert__card:hover .dessert__card__info {
  width: 120px;
  transition: 1s ease-in-out;
}

.heartwhite {
  z-index: 0;
}

.heartblack {
  z-index: 1;
  opacity: 0;
}

.heartwhite, .heartblack {
  position: absolute;
  right: 10%;
}

.heartblack:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  animation: 1.5s cubic-bezier(0.78, 0.56, 0.63, 0.58) both;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: heartopacity;
}

@keyframes heartopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fonctionnement h2 {
  padding: 30px 0px 10px 0px;
}

.fonctionnement__card a {
  display: flex;
  height: 80px;
  margin: 20px 0px 30px 20px;
  border-radius: 30px 30px 30px 30px;
  background-color: #fcfbfb;
  box-shadow: 3px 3px 10px #efebeb;
  color: black;
  text-decoration: none;
}

.fonctionnement__card a:hover {
  background-color: #f6ebff;
}

.fonctionnement__card a:hover .fonctionnement__card__iconetitre__icone {
  color: #9356DC;
}

.fonctionnement__card {
  margin-right: 20px;
}

.fonctionnement__card__nbre {
  border-radius: 100px;
  background-color: #9356DC;
  margin: 30px 0px 18px 0px;
  padding: 10px 12px 10px 12px;
  color: #fff;
  transform: translate(-15px, 0vh);
}

.fonctionnement__card__iconetitre {
  display: flex;
}
.fonctionnement__card__iconetitre__icone {
  margin-top: 25px;
  font-size: 25px;
  color: grey;
}
.fonctionnement__card__iconetitre__titre {
  margin-top: 35px;
  margin-left: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #3D3C3F;
  color: #fff;
  padding: 30px 0px 40px 0px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.logoimg {
  width: 25%;
  filter: invert(100%);
  margin-left: 25px;
}

nav li {
  list-style-type: none;
}

.proposer p, .devenir p, .mentions p, .contact p {
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
}

.proposer p i, .devenir p i {
  margin-right: 15px;
}

.header__logo {
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.menu-header {
  display: flex;
  padding: 20px 0px 10px 0px;
  justify-content: center;
}

.menu-header a {
  position: absolute;
  left: 25px;
  margin-top: 10px;
  color: #434141fc;
  font-size: 25px;
}

.pic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  animation: disparition 3s forwards;
  transform: translate(0px, -4.1vh);
}

@keyframes disparition {
  0% {
    z-index: 1;
    opacity: 1;
  }
  19% {
    z-index: 1;
    opacity: 1;
  }
  39% {
    z-index: 1;
    opacity: 1;
  }
  49% {
    z-index: 1;
    opacity: 0.9;
  }
  69% {
    z-index: 1;
    opacity: 0.5;
  }
  89% {
    z-index: 1;
    opacity: 0.4;
  }
  99% {
    visibility: hidden;
    z-index: 0;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    z-index: 0;
  }
}
.container__loader {
  animation: loader 10s linear infinite;
  width: 30vh;
  height: 30vh;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  display: flex;
  justify-content: center;
  background-color: #f2f3f4;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 4px 6px -6px grey inset;
}

.espacelieu {
  margin-left: 10px;
}

.espacelieu input {
  background-color: #f2f3f4;
  border: none;
}

form {
  display: flex;
  justify-content: center;
  background-color: #f2f3f4;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 4px 6px -6px grey inset;
}

.espacelieu {
  margin-left: 10px;
}

.espacelieu input {
  background-color: #f2f3f4;
  border: none;
}

.restaurant h2 {
  padding: 40px 0px 5px 0px;
}

/* Pages menu */
.menu-carte {
  background-color: #f2f3f4;
  border-radius: 50px 50px 0px 0px;
  transform: translate(0px, -10vh);
  padding-bottom: 60px;
}

.menu-main {
  background-color: #f2f3f4;
}

.titre-menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  margin-left: 20px;
  font-size: 35px;
}

.menu-coeur {
  display: flex;
  justify-content: space-between;
}

.iconecoeur {
  margin: 25px 30px 0px 0px;
  font-size: 30px;
}

/* media queries */
@media screen and (min-width: 769px) {
  .touslesfonctionnements {
    display: flex;
  }
}
@media screen and (min-width: 822px) {
  .touslesfonctionnements {
    justify-content: center;
  }
}

@media screen and (min-width: 822px) {
  .fonctionnement__card {
    width: 300px;
  }
}

@media screen and (min-width: 769px) {
  .fonctionnement__card__iconetitre__titre {
    margin-top: 30px;
  }
}

@media screen and (min-width: 769px) {
  .touslesrestaurants {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .restaurant__card .cartepic {
    width: 370px;
    height: 250px;
  }
}

@media screen and (min-width: 769px) {
  .restaurant__card {
    height: 330px;
  }
}
@media screen and (min-width: 769px) {
  .restaurant__card__new {
    right: unset;
    margin-top: unset;
  }
}
@media screen and (min-width: 769px) {
  .restaurant__card__contains__heart {
    margin: 15px 10px 0px 0px;
  }
}

@media screen and (min-width: 769px) {
  .menu-carte {
    border-radius: 0px 0px 0px 0px;
    transform: translate(0px, 0px);
  }
}

@media screen and (min-width: 769px) {
  .menu-main {
    background-color: #fff;
  }
}

@media screen and (min-width: 350px) {
  .starter__card__title, .plat__card__title, .dessert__card__title {
    width: 300px;
  }
}

@media screen and (min-width: 350px) {
  .starter__card__info, .plat__card__info, .dessert__card__info {
    width: 250px;
  }
}

@media screen and (min-width: 400px) {
  .starter__card__info, .plat__card__info, .dessert__card__info {
    width: 300px;
  }
}

@media screen and (min-width: 430px) {
  .starter__card__info, .plat__card__info, .dessert__card__info {
    width: 350px;
  }
}

@media screen and (min-width: 350px) {
  .starter__card:hover .starter__card__title, .starter__card:hover .plat__card__title, .starter__card:hover .dessert__card__title,
.starter__card:hover .starter__card__info, .starter__card:hover .plat__card__info, .starter__card:hover .dessert__card__info, .plat__card:hover .starter__card__title, .plat__card:hover .plat__card__title, .plat__card:hover .dessert__card__title,
.plat__card:hover .starter__card__info, .plat__card:hover .plat__card__info, .plat__card:hover .dessert__card__info, .dessert__card:hover .starter__card__title, .dessert__card:hover .plat__card__title, .dessert__card:hover .dessert__card__title,
.dessert__card:hover .starter__card__info, .dessert__card:hover .plat__card__info, .dessert__card:hover .dessert__card__info {
    width: 160px;
  }
}

@media screen and (min-width: 400px) {
  .starter__card:hover .starter__card__title, .starter__card:hover .plat__card__title, .starter__card:hover .dessert__card__title,
.starter__card:hover .starter__card__info, .starter__card:hover .plat__card__info, .starter__card:hover .dessert__card__info, .plat__card:hover .starter__card__title, .plat__card:hover .plat__card__title, .plat__card:hover .dessert__card__title,
.plat__card:hover .starter__card__info, .plat__card:hover .plat__card__info, .plat__card:hover .dessert__card__info, .dessert__card:hover .starter__card__title, .dessert__card:hover .plat__card__title, .dessert__card:hover .dessert__card__title,
.dessert__card:hover .starter__card__info, .dessert__card:hover .plat__card__info, .dessert__card:hover .dessert__card__info {
    width: 200px;
  }
}

@media screen and (min-width: 430px) {
  .starter__card:hover .starter__card__title, .starter__card:hover .plat__card__title, .starter__card:hover .dessert__card__title,
.starter__card:hover .starter__card__info, .starter__card:hover .plat__card__info, .starter__card:hover .dessert__card__info, .plat__card:hover .starter__card__title, .plat__card:hover .plat__card__title, .plat__card:hover .dessert__card__title,
.plat__card:hover .starter__card__info, .plat__card:hover .plat__card__info, .plat__card:hover .dessert__card__info, .dessert__card:hover .starter__card__title, .dessert__card:hover .plat__card__title, .dessert__card:hover .dessert__card__title,
.dessert__card:hover .starter__card__info, .dessert__card:hover .plat__card__info, .dessert__card:hover .dessert__card__info {
    width: 250px;
  }
}

@media screen and (min-width: 490px) {
  .starter__card:hover .starter__card__title, .starter__card:hover .plat__card__title, .starter__card:hover .dessert__card__title,
.starter__card:hover .starter__card__info, .starter__card:hover .plat__card__info, .starter__card:hover .dessert__card__info, .plat__card:hover .starter__card__title, .plat__card:hover .plat__card__title, .plat__card:hover .dessert__card__title,
.plat__card:hover .starter__card__info, .plat__card:hover .plat__card__info, .plat__card:hover .dessert__card__info, .dessert__card:hover .starter__card__title, .dessert__card:hover .plat__card__title, .dessert__card:hover .dessert__card__title,
.dessert__card:hover .starter__card__info, .dessert__card:hover .plat__card__info, .dessert__card:hover .dessert__card__info {
    width: 310px;
  }
}

/*# sourceMappingURL=main.css.map */
