
@font-face {
    font-family: 'policelogoettitres';
    src: url('polices/webfontkit-shrikhand/shrikhand-regular-webfont.eot');
    src: url('polices/webfontkit-shrikhand/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/webfontkit-shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('polices/webfontkit-shrikhand/shrikhand-regular-webfont.woff') format('woff'),
         url('polices/webfontkit-shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
         url('polices/webfontkit-shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'policetexte';
    src: url('polices/webfontkit-roboto/roboto-regular-webfont.eot');
    src: url('polices/webfontkit-roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/webfontkit-roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('polices/webfontkit-roboto/roboto-regular-webfont.woff') format('woff'),
         url('polices/webfontkit-roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('polices/webfontkit-roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden;
    font-family:'policetexte', sans-serif;
    
}


$colour-secondary: #FF79DA; 
$colour-primary: #9356DC;
$middlegrey:#f2f3f4; 
$white: #fff; 
$lightgrey: #fcfbfb; 
$icone: grey; 
$box-shadow: #efebeb; 
$background-restaurant:#FAFAFA ;
$text:black; 
$background-nouveau:#99e2d0;
$color-nouveau:#1c9965; 
$background-footer:#3D3C3F; 

@mixin restaurantcard-propriétés {
    border-radius: 15px 15px 15px 15px; 
    border: none; 
    background-color:$white;
    box-shadow: 2px 2px 6px $box-shadow; 
    margin: 0px 10px 30px 10px; 
    height: 300px;
}
@mixin nometcoeur-propriétés {
    display: flex; 
    justify-content: space-between;
}
@mixin nomrestaurant-propriétés {
    margin: 15px 0px 0px 15px; 
    color: $text;
    font-size: 18px;
    font-weight: bold;
}
@mixin coeur-propriétés {
    margin: 20px 20px 0px 0px; 
    color: $text; 
    font-size: 25px; 
}
@mixin lieu-propriétés {
    color: $text;
    font-size: 18px; 
    margin: 0px 0px 10px 15px; 

}
@mixin nouveau-propriétés {
    position: relative;
    left: 285px;
    bottom: 275px; 
    width: 80px; 
    text-align: center; 
    padding: 5px; 
    font-size: 15px; 
    font-family: 'policelogoettitres', sans-serif; 
    background-color: $background-nouveau; 
    color: $color-nouveau;    
}
@mixin pic-propriétés {
    border-radius: 15px 15px 0px 0px; 
    border: none; 
    width: 390px; 
}
.header__logo {
    text-align: center;
    margin-bottom:10px;     
}
form {
    display: flex; 
    justify-content: center;
    background-color: $middlegrey;
    padding-top: 12px;
    padding-bottom: 12px; 
   
}
.espacelieu {
    margin-left: 10px; 
}
.espacelieu input {
    background-color: $middlegrey;
    border:none; 
}
.booking {
    text-align: center;
    background-color: $lightgrey;
    padding-bottom: 30px; 
    &__1 {
    padding-top: 30px;  
    font-family: 'policelogoettitres', sans-serif;
    font-weight: bold;
    font-size: 1.5rem; 
    }
    &__2 {
    padding-top: 10px;
    font-family:'policelogoettitres', sans-serif;
    font-size: 20px; 
    }    
    &__btn {
    margin-top: 20px; 
    background-color: $colour-secondary;
    border: none; 
    border-radius: 50px/50px; 
    font-family:'policetexte', sans-serif;
    font-size: 18px; 
    color: $white; 
    padding: 15px 25px 15px 25px; 
    }
}

h2 {
    font-family: 'policelogoettitres', sans-serif;
    margin-left: 15px; 
}
.fonctionnement h2 {
    padding: 30px 0px 10px 0px; 
   
}
.fonctionnement__1 {
    display: flex; 
    height: 80px; 
    margin: 20px 0px 30px 20px; 
    border-radius: 30px 30px 30px 30px; 
    background-color:$lightgrey;
    box-shadow: 3px 3px 10px $box-shadow; 
    
    &__1 {
    border-radius: 100px; 
    background-color:$colour-primary ;
    margin: 30px 0px 18px 0px; 
    padding: 10px 12px 10px 12px; 
    color: $white;
   
    }
    &__2 {
        display: flex; 
        
        &__1 {
            margin: 30px 0px 30px 30px; 
            font-size: 25px; 
            color:$icone;     
        }
        &__2 {
            margin: 35px 0px 30px 30px; 
            font-weight: bold;
        }   
    }
}
.restaurant h2 {
    padding: 40px 0px 5px 0px; 
}
.restaurant {
    background-color:$background-restaurant; 
    width: 100%;
    padding-bottom: 50px; 

    &__1, &__2, &__3, &__4 {
        @include restaurantcard-propriétés;
        &__1 {
            @include nometcoeur-propriétés; 
            &__1 {
                @include nomrestaurant-propriétés;
            }
            &__2 {
                @include coeur-propriétés;     
            }
        }
        &__2 {
            @include lieu-propriétés; 
        }
        &__3 {
            @include nouveau-propriétés; 
        }   
    }
    &__1 .cartepic, &__2 .cartepic, &__3 .cartepic, &__4 .cartepic {
        @include pic-propriétés; 
    }   
}
footer {
    background-color: $background-footer;
    color: $white; 
    padding: 30px 0px 40px 0px; 
}
.logoimg {
   width: 25%; 
   filter: invert(100%); 
   margin-left: 25px; 
} 
.proposer p, .devenir p, .mentions, .contact {
    margin-left: 25px; 
}
.proposer p i, .devenir p i {
    margin-right: 15px; 
}

