
body {
    overflow-x: hidden;  
    width: 100%;  
    margin:auto;    
}

h2 {
    font-family:'Roboto', sans-serif; 
    margin-left: 15px; 
}

.restaurant h2 {
    padding: 40px 0px 5px 0px; 
   
}
.titre-menu h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: bold; 
    margin-left: 20px; 
    font-size: 30px;   
}
