
$colour-primary: #9356DC;
$middlegrey:#f2f3f4; 
$white: #fff; 
$lightgrey: #fcfbfb; 
$icone: grey; 
$box-shadow: #efebeb; 
$background-restaurant:#FAFAFA ;
$text:black; 
$colour-tertiary:#99e2d0;
$colour-nouveau:#1c9965; 
$background-footer:#3D3C3F; 
$background-hover:#f6ebff;